<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin-page.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/shedu-logo.ico') }}">
    <title>Administración: Materias</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;800&family=Nunito:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header flex-a-c">
        <div class="logo-container">
            <a href="/"><img class="img-logo" src="{{ url_for('static', filename='images/shedu-logo-white.png') }}" alt="shedul logo"></a>
        </div>
        <nav class="navegador flex-a-c h-100">
            <a class="link" href="#">Horarios</a>
            <a class="link" href="prueba.html">Configuración</a>
        </nav>
        <div class="menu-icon flex-a-c">
            <span class="username">{{ current_user.teacher.first_name + ' ' + current_user.teacher.first_lastname }}</span>
            <div>
                <img src="https://i.pinimg.com/222x/5d/0e/94/5d0e94950f0a5a6f0fea753aaf174da1.jpg" alt="usuario-icono">
            </div>
            <a href="/logout"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                <path d="M9 12h12l-3 -3" />
                <path d="M18 15l3 -3" />
            </svg></a>
        </div>
    </header>
    <main class="flex-column">
        <h1>Administración de Materias</h1>
        <button class="btn-add">Añadir Materias</button>
        {% if subjects %}
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre de Materia</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for subject in subjects %}
                    <tr>
                        <td>{{subject.subject_id}}</td>
                        <td>{{subject.subject}}</td>                                                               
                        <td>
                            <button id="{{subject.subject_id}}" class="btn-edit" onclick="btnsEdit({{subject.subject_id}})">Editar</button>
                            <button id="{{subject.subject_id}}" class="btn-delete" onclick="deleteSubject({{subject.subject_id}})">Eliminar</button>
                            <button id="{{subject.subject_id}}" class="btn-asign" onclick="asignCourses({{subject.subject_id}})">Cursos</button>
                        </td>                                    
                    </tr>  
                {% endfor %}  
                    </tbody>
                </table>              
                {% else %}
                <h3 class="txt-c">"NO HAY DATOS"</h3>
        {% endif %}
    </main>
    <div class="modal-container closed flex-j-c">
        <div class="modal">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="28" height="28" viewBox="0 0 24 24" stroke-width="1" stroke="#555" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
            <h3 id="title_modal" class="txt-c"></h3>
            <form id="add-info-form" class="flex-aj-c">
                <div class="flex-j-c flex-column">
                    <label>Materia:</label>
                    <input id="subject" maxlength="25" name="subject" required>
                </div>
                <input id="btn_modal" type="submit" value="">
            </form>
        </div>
    </div>
    <div class="modal-asign-container closed flex-j-c">
        <div class="modal-asign">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x-asign" width="28" height="28" viewBox="0 0 24 24" stroke-width="1" stroke="#555" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
            <h3 id="title_modal-asign" class="txt-c"></h3>
            <form id="asign-info-form" class="flex-aj-c">
                <div class="div-asign-form">
                {% for course in courses %}
                        <label class="flex-aj-c">{{course.course + ' ' + course.parallel.parallel}}</label>
                        <input class="input-checkbox" type="checkbox" id="course.course_id" name="course" required>
                {% endfor %}
                </div>
                <input id="btn_modal-asign" type="submit" value="">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/admin-subjects.js') }}"></script>
    <footer class="flex-aj-c flex-column">
        <img class="icon-logo-shedu" src="{{ url_for('static', filename='images/shedu-logo-white.png') }}" alt="icono-shedu">
        <div class="footer-sections flex-aj-c">
            <div class="footer-sections-container">
                <div class="w-100">
                    <h5>Vision</h5>
                    <p>Se visualiza a Shedu como un software de preferencia y de gran utilidad en la creación de horarios escolares debido a su gran desempeño y a todas sus funcionalidades.</p>
                </div>
                <div>
                    <a href="#"><img class="icon-socialmedia" src="{{ url_for('static', filename='images/facebook-icon.png') }}" alt="boton-facebook"></a>
                    <a href="#"><img class="icon-socialmedia" src="{{ url_for('static', filename='images/instagram-icon.png') }}" alt="boton-instagram"></a>
                    <a href="#"><img class="icon-socialmedia" src="{{ url_for('static', filename='images/correo-icon.png') }}" alt="boton-mail"></a>
                </div>
            </div>
            <div class="footer-sections-container">
                <h5>Acerca de Shedu</h5>
                <p>Shedu es un sistema web visualmente atractivo de fácil acceso y manejo destinado a la unidad educativa particular Juan León Mera cuya función principal es crear y organizar horarios de clases automáticamente, ofreciendo una gestión dinámica de los cursos y el personal de la institución</p>
            </div>
        </div>
        <p class="txt-c">Todos los derechos reservados &COPY; <b>SHEDU</b><br><br>By Miguel Gómez | 2023 - 2024</p>
    </footer>
</body>
</html>