<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shedu Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/shedu-logo.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;800&family=Nunito:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header flex-a-c">
        <div class="logo-container">
            <a href="/home"><img class="img-logo" src="{{ url_for('static', filename='images/shedu-logo-white.png') }}" alt="shedul logo"></a>
        </div>
        <nav class="navegador flex-a-c h-100">
            <a class="link" href="#">Horarios</a>
            <a class="link" href="prueba.html">Configuración</a>
        </nav>
        <div class="menu-icon flex-a-c">
            <span class="username">{{ current_user.teacher.first_name + ' ' + current_user.teacher.first_lastname }}</span>
            <div>
                <img src="https://i.pinimg.com/222x/5d/0e/94/5d0e94950f0a5a6f0fea753aaf174da1.jpg" alt="usuario-icono">
            </div>
            <a href="/logout"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                <path d="M9 12h12l-3 -3" />
                <path d="M18 15l3 -3" />
            </svg></a>
        </div>
    </header>
    <main class="flex-aj-c">
        <h1 class="titulo-main">{% if current_user.teacher.gender_id == 1 %}¡Bienvenido!{% else %}¡Bienvenida!{% endif %}<br><span class="name-user">{{current_user.teacher.salutation.salutation + ' ' + current_user.teacher.first_name + ' ' + current_user.teacher.first_lastname}}</span></h1>
        <div class="main_contenedor flex-aj-c">
            <div class="main_div flex-aj-c  flex-column">
                <div class="main-img-container flex-a-c">
                    <img class="main-img" src="{{ url_for('static', filename='images/create-horarios.png') }}" alt="Crear Horarios">
                </div>
                <h3 class="w-100 flex-aj-c">Crear horarios</h3>                
            </div>
            <div class="main_div flex-aj-c flex-column">
                <div class="main-img-container flex-a-c">
                    <img class="main-img" src="{{ url_for('static', filename='images/admin-horarios.png') }}" alt="Administrar horarios">
                </div>
                <h3 class="w-100 flex-aj-c">Administrar Horarios</h3>
            </div> 
        </div>
    </main>
    <div class="section-separation flex-aj-c">
        <h3 class="flex-aj-c txt-c">Sección Administración</h3>
    </div>
    <section>
        <div id="adm-teachers" class="section a-c">
            <div class="section-div flex-aj-c">
                <div class="section-container-img flex-aj-c">
                    <img class="section-img" src="{{ url_for('static', filename='images/admin-personal.png') }}" alt="Administrar personal">
                </div>
                <div class="section-info-container">
                    <p>Administrar personal</p>
                </div>
            </div>
        </div>
        <div id="adm-subjects" class="section a-c">
            <div class="section-div flex-aj-c">
                <div class="section-container-img flex-aj-c">
                    <img class="section-img" src="{{ url_for('static', filename='images/admin-materias.png') }}" alt="Administrar Materias">
                </div>
                <div class="section-info-container">
                    <p>Administrar Materias</p>
                </div>
            </div>
        </div>
        <div id="adm-courses" class="section a-c">
            <div class="section-div flex-aj-c">
                <div class="section-container-img flex-aj-c">
                    <img class="section-img" src="{{ url_for('static', filename='images/admin-cursos.png') }}" alt="Administrar Cursos">
                </div>
                <div class="section-info-container">
                    <p>Administrar Cursos</p>
                </div>
            </div>
        </div>
        <div id="adm-parallels" class="section a-c">
            <div class="section-div flex-aj-c">
                <div class="section-container-img flex-aj-c">
                    <img class="section-img" src="{{ url_for('static', filename='images/admin-parallels.png') }}" alt="Administrar Paralelos">
                </div>
                <div class="section-info-container">
                    <p>Administrar Paralelos</p>
                </div>
            </div>
        </div>
        <div id="adm-courses-subjects" class="section a-c">
            <div class="section-div flex-aj-c">
                <div class="section-container-img flex-aj-c">
                    <img class="section-img" src="{{ url_for('static', filename='images/admin-hours.png') }}" alt="Administrar Paralelos">
                </div>
                <div class="section-info-container">
                    <p>Administrar Cargas Horarias</p>
                </div>
            </div>
        </div>
        <div id="adm-salutations" class="section a-c">
            <div class="section-div flex-aj-c">
                <div class="section-container-img flex-aj-c">
                    <img class="section-img" src="{{ url_for('static', filename='images/admin-salutations.png') }}" alt="Administrar Salutaciones">
                </div>
                <div class="section-info-container">
                    <p>Administrar Salutaciones</p>
                </div>
            </div>
        </div>
        <div id="config-sheduls" class="section a-c">
            <div class="section-div flex-aj-c">
                <div class="section-container-img flex-aj-c">
                    <img class="section-img" src="{{ url_for('static', filename='images/conf-sheduls.png') }}" alt="Administrar Horarios">
                </div>
                <div class="section-info-container">
                    <p>Configurar Horarios</p>
                </div>
            </div>
        </div>
        <div id="adm-sheduls" class="section a-c">
            <div class="section-div flex-aj-c">
                <div class="section-container-img flex-aj-c">
                    <img class="section-img" src="{{ url_for('static', filename='images/admin-horarios.png') }}" alt="Administrar Horarios">
                </div>
                <div class="section-info-container">
                    <p>Administrar Horarios</p>
                </div>
            </div>
        </div>
        <div id="adm-users" class="section a-c">
            <div class="section-div flex-aj-c">
                <div class="section-container-img flex-aj-c">
                    <img class="section-img" src="{{ url_for('static', filename='images/admin-users.png') }}" alt="Administrar Usuarios">
                </div>
                <div class="section-info-container">
                    <p>Administrar Usuarios</p>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>      
    </section>

    <footer class="flex-aj-c flex-column">
        <img class="icon-logo-shedu" src="{{ url_for('static', filename='images/shedu-logo-white.png') }}" alt="icono-shedu">
        <div class="footer-sections flex-aj-c">
            <div class="footer-sections-container">
                <div class="w-100">
                    <h5>Vision</h5>
                    <p>Se visualiza a Shedu como un software de preferencia y de gran utilidad en la creación de horarios escolares debido a su gran desempeño y a todas sus funcionalidades.</p>
                </div>
                <div>
                    <a href="#"><img class="icon-socialmedia" src="{{ url_for('static', filename='images/facebook-icon.png') }}" alt="boton-facebook"></a>
                    <a href="#"><img class="icon-socialmedia" src="{{ url_for('static', filename='images/instagram-icon.png') }}" alt="boton-instagram"></a>
                    <a href="#"><img class="icon-socialmedia" src="{{ url_for('static', filename='images/correo-icon.png') }}" alt="boton-mail"></a>
                </div>
            </div>
            <div class="footer-sections-container">
                <h5>Acerca de Shedu</h5>
                <p>Shedu es un sistema web visualmente atractivo de fácil acceso y manejo destinado a la unidad educativa particular Juan León Mera cuya función principal es crear y organizar horarios de clases automáticamente, ofreciendo una gestión dinámica de los cursos y el personal de la institución</p>
            </div>
        </div>
        <p class="txt-c">Todos los derechos reservados &COPY; <b>SHEDU</b><br><br>By Miguel Gómez | 2023 - 2024</p>
    </footer>
</body>
</html>